
form{
    display: flex;
    height: 100%;
}


.search{
    display: flex;
    justify-content: center;
    height: max-content;
    width: 100%;
        background-color: rgb(234, 236, 239);
        border-radius: 8px 0px 0px 8px;
    input{
        width: 100%;
        background-color: rgb(234, 236, 239);
        border: none;
    }
    i{
        
        margin: 0 8px;
        align-self: center;
        padding: 8px 0;
    }

    
}

button{
        color: antiquewhite;
        background-color: rgb(94, 83, 137);
        cursor: pointer;
        border-radius: 0px 4px 4px 0px;
        padding: 4px;
        border: none;
    }