body{
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}


.contenedor{
    margin: auto 0;
    display: flex;
    background-color: #ffff;

    width: 50%;
    border-radius: 20px;
    box-shadow: 10px 12px 12px rgba(0, 0, 0, 0.1);
}


.Result{
    width: 50%;
    padding: 5% 10%;
    
    background-image: linear-gradient(to bottom, #4e21ca, #2525e2);
    border-radius: 20px;
    text-align: center;

    h1{
        margin: 0;
    }

    h2{
    color: white;
    }   

    h1, h3, p{
        color: #aca9ba;
    }

    h2{
        margin: 15px 0;
    }

}

.circulo{
    margin: 35px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background: linear-gradient(to bottom, rgba(57, 15, 135, 0.82), rgba(75, 38, 209, 0.061) );

    h2{
        font-size: 65px;
        margin: 0;
    }
    p{
        margin: 0;
    }
}

.Summary{
    width: 50%;
    padding: 2% 6% 4% 6%;

    h1{
        font-weight: 500;
    }

    h4{
        margin: 0;
    }

    .btn{
        margin-top: 30px;
    }
}

.btn{ 
    background-color: #2f3c5a;
    color: white;
    border: none;
    border-radius: 20px;
    //el primero es vertical y el segundo horizontal
    padding: 12px 20px;
    width: 100%;
    height: 12%;
}

.btn:hover{
    background-color: #3e4a67;
    cursor: pointer;
}



.icono{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    

}

.items{
    display: flex;
    //hace que los elementos se acomoden en columna y no en fila
    flex-direction: column;
    list-style-type: none;  /* quita los puntos */
    padding: 0;  
    width: 100%;
}

.item{
    display: flex;
    flex-direction: row;
    margin: 6px 0px;
    border-radius: 10px;
    justify-content: space-between;
    //se le da espaciado al texto desde el item
    padding: 3px 10px;
    .icono svg{
        width: 20px;
    }

    
    &:nth-child(1){
    
        background-color: #f8d8d8;
        h4, .icono{
            color: #f33f3f;
            fill: #f33f3f;
            stroke: #f33f3f;
        }
    }

    &:nth-child(2){
    
    background-color: #fdfce1;
    h4, .icono{
        color: #fce77d;
        fill: #fce77d;
        stroke: #fce77d;
        }
    }

    &:nth-child(3){
    
    background-color: #cefddf;
    h4, .icono{
        color: #1fb059;
        fill: #1fb059;
        stroke: #1fb059;
        }
    }

     &:nth-child(4){
    
    background-color: #cdd0f4;
    h4, .icono{
        color: #4547cc;
        fill: #4547cc;
        stroke: #4547cc;
        }
    }



    
}

.category-text{
    display: flex;
   
    align-items: center;
    h3{
        margin: 0;
    }
}

.score-text{
    display: flex;
    align-items: center;
    
    color: #303b5a;
    p{
        margin: 0;
    }
    
}


