


header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(94, 83, 137);

    a{
        
        text-decoration: none;
    }

    .ButtonIcon{
        padding: 15px 10%;
    }

}


